/.idea/
/.vs/
/HiveVault_API/obj/
/HiveVault_API/bin/
HiveVault_API/.idea/
/HiveVault_API.sln.DotSettings.user
/DataAccessLayer/obj/
/DataAccessLayer/bin/
/DataAccessLayer.sln.DotSettings.usergit
/SqlDB/obj/
/SqlDB/bin/
*.dbmdl
Project_HiveVault.sln.DotSettings.user
